{% extends "base.html" %}

{% block content %}
<div class="p-3 mb-2 bg-dark text-white">
<div class="text-center">
    <h2>Activities</h2>

    {% if current_user.is_anonymous %}

    <p>Please login to use the app</p>
    <a href="{{ url_for('login') }}">login</a>

    {% else %}

    {% endif %}

    {% if current_user.strava_code is none %}

    <p>
        <!-- CONNECT TO STRAVA HEROKU -->
    <a href="https://www.strava.com/oauth/authorize?client_id=32114&redirect_uri=http://strava-heroku.herokuapp.com/getstravacode&response_type=code&scope=activity:read_all,profile:read_all,read_all">
    <img src="../static/images/connect_with_strava.png" width="15%">
    </a>
    </p>

    {% else %}

    <a href="{{ url_for('sync') }}">
      <button type="submit" class="btn btn-primary btn-lg">Update Activities</button>
    </a>
    <p>Updating the Activities will add one more to the list.</p>

    {% endif %}

    <!-- ADD ACTIVITY USING ID
    <div class="container-fluid">
        <form method="POST" action="/activities">
              <div class="form-group">
                <label>Activity ID</label>
                <input type="text" class="form-control" name="activity_id_sync">
              </div>
              <button type="submit" class="btn btn-primary">submit</button>
        </form>
    </div> -->
    <div class="table-responsive">
    <table class="table table-dark table-hover">
      <thead>
        <tr>
          <!-- <th scope="col">ID</th> -->
          <th scope="col">Route</th>
          <!-- <th scope="col">Elevation</th> -->
          <th scope="col">Date</th>
          <th scope="col">Name</th>
          <th scope="col">Type</th>
          <!-- <th scope="col">Commute</th> -->
          <th scope="col">Distance</th>
          <th scope="col">Duration</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% for activity in look_activities %}
        <tr>
          <!-- <td>{{ activity['activity_id'] }}</td> -->
          <td><img src={{ activity['icon_url'] }} height=10%></td>
          <!-- <td><img src={{ activity['altitude_url'] }} height=10%></td> -->
          <td>{{ activity['activity_date'] }}</td>
          <td>{{ activity['name'] }}</td>
          <td>{{ activity['type'] }}</td>
          <!-- <td>{{ activity['is_commute'] }}</td> -->
          <td>{{ activity['distance'] }}</td>
          <td>{{ activity['duration'] }}</td>
          <td>
            <form method="POST" action="/mappa">
              <button name="activity_id_mappa" type="submit" value="{{ activity['activity_id'] }}" class="btn btn-secondary btn-sm">Mappa</button>
            </form>
          </td>
          <td>
            <form method="POST" action="/activities">
              <button name="activity_id_update" type="submit" value="{{ activity['activity_id'] }}" class="btn btn-secondary btn-sm">Update</button>
            </form>
          </td>
          <td>
            <form method="POST" action="/activities">
              <button name="activity_id_delete" type="submit" value="{{ activity['activity_id'] }}" class="btn btn-secondary btn-sm">Delete</button>
            </form>
          </td>

        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

</div>
</div>

{% endblock %}