{% extends "base.html" %}

{% block content %}
<div class="text-center">
    <h2>Activities</h2>

    {% if current_user.is_anonymous %}

    <p>Please login to use the app</p>
    <a href="{{ url_for('login') }}">login</a>

    {% else %}

    {% endif %}

    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Route</th>
          <th scope="col">Date</th>
          <th scope="col">Name</th>
          <th scope="col">Type</th>
          <th scope="col">Commute</th>
          <th scope="col">Duration</th>
          <th scope="col">Distance</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% for activity in look_activities %}
        <tr>
          <td>{{ activity['activity.activity_id'] }}</td>
          <td><img src={{ activity['activity.icon_url'] }} height=10%></td>
          <td>{{ activity['activity.activity_date'] }}</td>
          <td>{{ activity['activity.name'] }}</td>
          <td>{{ activity['activity_grouping.type'] }}</td>
          <td>{{ activity['activity.is_commute'] }}</td>
          <td>{{ activity['activity.total_duration'] }}</td>
          <td>{{ activity['activity.total_distance'] }}</td>
          <td>
            <form method="POST" action="/activities">
              <button name="activity_id" type="submit" value="{{ activity['activity.activity_id'] }}">Update</button>
            </form>
          </td>

        </tr>
        {% endfor %}
      </tbody>
    </table>

</div>

{% endblock %}