{% extends "base.html" %}

{% block content %}
<div class="login-page">
  <div class="form">
  	<p>{{message}}</p>
    <form class="login-form" method="POST" action="/register">
      <input type="text" placeholder="username" name="username"/>
      <input type="text" placeholder="email" name="email"/>
      <input type="password" placeholder="password" name="password"/>
      <input type="password" placeholder="repeat password" name="repeat_password"/>
      <button>register</button>
      <p class="message">Already have an account? <a href="{{ url_for('login') }}">Login here</a></p>
    </form>
  </div>
</div>
{% endblock %}