{% extends "base.html" %}

{% block content %}
<div class="text-center">
    <h2>running</h2>

    {% if current_user.is_anonymous %}

    <p>Please login to use the app</p>
    <a href="{{ url_for('login') }}">login</a>

    {% else %}


    <!-- <p>Links below</p>
    <p><a href="{{ url_for('user', username=current_user.username) }}">profile</a></p>
    <p><a href="{{ url_for('sync') }}">sync data</a></p> -->

    {% endif %}

    <div id="Container" style="padding-bottom:56.25%; position:relative; display:block; width: 100%">
        <iframe id="looker"
            width="90%" height="900px"
            src={{embed_url}}
            frameborder="0" allowfullscreen=""
            style="position:relative; top:0; left: 0">
        </iframe>
    </div>

</div>

{% endblock %}