{% extends "base.html" %}

{% block content %}
<div class="text-center">
    <h2>mappa</h2>

    <p>this is a web app designed to allow you to select a photo and a strava activity</p>
    <p>mappa will produce an instagram friendly image with your stats merged onto your photo</p>

    <h3>Please upload your chosen photo</h3>
    <p>* mappa will crop the centre of not square photos</p>

    {% if strava_code is none %}
    <a href="https://www.strava.com/oauth/authorize?client_id=32114&response_type=code&redirect_uri=http://park-run-stats.herokuapp.com/getstravacode&approval_prompt=force">Connect to Strava</a>
    {% else %}

<table class="table">
  <thead>
    <tr>
        <th scope="col" style="width: 35%"> </th>
        <th scope="col" style="width: 15%"> </th>
        <th scope="col" style="width: 15%"> </th>
        <th scope="col" style="width: 35%"> </th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <th scope="row"> </th>
        <td><form method = "POST" action = "/uploader" enctype = "multipart/form-data">
        <input type = "file" class="form-control-file" name = "file"/></td>
        <td><input type = "submit"/>
        </form></td>
        <td> </td>
    </tr>
  </tbody>
</table>
{% endif %}

</div>

{% endblock %}