{% extends "base.html" %}

{% block content %}
<div class="text-center">

    {% if current_user.strava_code is none %}
    {% else %}
    <!-- <p><a href="{{ url_for('sync') }}">sync data</a></p> -->
    {% endif %}

    <div id="Container" style="padding-bottom:56.25%; position:relative; display:block; width: 100%">
        <iframe id="looker"
            width="90%" height="900px"
            src={{embed_url}}
            frameborder="0" allowfullscreen=""
            style="position:relative; top:0; left: 0">
        </iframe>
    </div>

    <p>Add missing activity:</p>
    <form method="POST" action="/get_activity">
        <input type="text" placeholder="activity id" name="activity_id"/>
        <button>add activity</button>
    </form>

    <p>Strava Connection Details:</p>
    <p>User strava code: {{ user.strava_code }} </p>
    <p>User access token: {{ user.access_token }} </p>
    <p>User refresh token: {{ user.refresh_token }} </p>
    <p>User tokens expire at: {{ user.expires_at }} </p>
    <p>User athlete id: {{ user.athlete_id }} </p>

    {% for activity in activities %}
    <p>Name: <b>{{ activity.name }}</b>:  {{ activity.duration }} seconds</p>
    {% endfor %}
{% endblock %}